<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My online shop</title>
  <link rel="stylesheet" href="main_page.css">
</head>
<body>

<div class="header">
    <div class="header">
      <div class="jabka" align="center">
        <img src="../static/jabka.png" width="290">
      </div>
      <h1>Онлайн магазин товаров "Жабка"</h1>
      <h2>Широкий ассортимент и привлекательные цены!</h2>
    </div>
</div>

  <h2 class="title_googs">Наши товары</h2>
  <div class="row">
    <div class="pic_1">
      <img src="../static/blue.png">
      <h3>Голубой бантик</h3>
      <p>$ 14.99</p>
    </div>
    <div class="pic_2">
      <img src="../static/yellow.png">
      <h3>Желтый бантик</h3>
      <p>$ 19.99</p>
    </div>
    <div class="pic_3">
      <img src="../static/pink.png">
      <h3>Розовый бантик</h3>
      <p>$ 14.99</p>
    </div>
  </div>
</div>
</body>
</html>